* {
  box-sizing: border-box;
}

/* change font to either Inter or Arial for navbar */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

/*style the layout of the header*/
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #099773 1.18%, #43b692 100%);
  color: white;
  padding: 20px;
}

/*style the positioning of the image*/
.header-image {
  height: 100%;
  margin-right: 10px;
}

/*style the layout and style of the title of header*/
.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

/*change font weight of the subtitle */
.header-project{
  font-size: 0.95rem;
  font-weight: 500;
}


/* style form layout */
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap:17px;
}

.form-input{
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: 1px solid #099773;
  text-indent: 5px;
}


.form-button{
  grid-column: 1 / -1;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #099773 1.18%, #43b692 100%);
  color: white;
  border:none ;
  cursor: pointer;
}

.meme{
  position: relative;
}

.meme-image{
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.meme-text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top{
  top: 0;
}

.bottom{
  bottom: 0;
}




